@{
    ViewBag.Title = "Contact";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Contact</li>
</ol>

<h2 class="page-header">@ViewBag.Title Us</h2>
<h3>@ViewBag.Message</h3>

<address>
    Discover Pakistan<br />
    17th floor, Arfa Karim Tower<br />
    Lahore, pakistan<br />
    +92 313 7070326<br />
    +92 335 0474770
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@discoverpakistan.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@discoverpakistan.com</a>
</address>