
@{
    ViewBag.Title = "Calendar";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Calendar</li>
</ol>

<h2 class="page-header">@ViewBag.Message</h2>
<p>We care for you, thats why we make tour for you. Your security is our responsibility. Feel free to travel anywhere with us.</p>

