
@{
    ViewBag.Title = "SearchDestination";
}

<h2>Search Destination</h2>
@Html.ActionLink("Admin Menu", "Index", "Admin") Click Here to go to Admin Menu.
<br />
<form method="post" action="/Destinations/SearchDestinationResult">
    <div class="form-group">
        <div class="row">
            <div class="col-md-1 control-label">
                <label>ID</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="id" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="search" class="btn btn-default" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Register", "Register","Account") if you don't have a local account.
    </p>
</form>