@{
    ViewBag.Title = "Home";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>



<div class="jumbotron">
    <h1>Discover Pakistan</h1>
    <p class="lead">The Travel impulse is mental and physical curiosity. It's a passion and I can't understand people who don't want to travel. (Paul theroux) </p>
    <p><a href="/Calendar/Calendar" class="btn btn-primary btn-large">Travel Now &raquo;</a></p>
</div>

<h1 class="page-header">Recent Tours</h1>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="/images/1.jpg"
                     alt="Discover Pakistan Adventure Club">
            </a>
            <div class="caption">
                EveryThing goes there
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="/images/1.jpg"
                     alt="Discover Pakistan Adventure Club">
            </a>
            <div class="caption">
                EveryThing goes there
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p class="lead">The world is like a book, those who do not travel read only a page.</p>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="/images/makra.jpg"
                     alt="DiscoverPakistan Adventure Club">
            </a>
            <div class="caption">
                EveryThing goes there
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="/images/makra.jpg"
                     alt="DiscoverPakistan Adventure Club">
            </a>
            <div class="caption">
                EveryThing goes there
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="/images/naran.jpg"
                     alt="DiscoverPakistan Adventure Club">
            </a>
            <div class="caption">
                EveryThing goes there
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#" class="thumbnail">
                <img src="/images/naran.jpg"
                     alt="DiscoverPakistan Adventure Club">
            </a>
            <div class="caption">
                EveryThing goes there
            </div>
        </div>
    </div>
</div>