@{
    ViewBag.Title = "About";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">About</li>
</ol>

<h2 class="page-header">@ViewBag.Title</h2>
<h3>Discover Pakistan</h3>

<p>Discover Pakistan is an idea of promoting tourism and we want to show this world what we are, started by some potential Pakistani youngsters.
    The purpose of this startup is to explore hidden beauty of Pakistan. The beauty that human eye wants to see and observe.</p>
<div class="row">
    <div class="col-md-5">
        <img src="~/images/Slider/Slider (6).jpg" class="img-circle" height="200" width="300" />
    </div>
</div>